body{
    width: 100%;
    margin: 30px;
    background-color: blueviolet;
}
#profile-container{
    max-width: 300px;
    background-color: cornsilk;
    border: 1px solid gray;
    border-radius: 10px;
}
profile-image{
    width: 100%;
    height: auto;

}
#profile-name{
    text-align: center;
}